{
    "extends": "airbnb",
    "plugins": ["react"],
    "ecmaFeatures": { "jsx": true },
    "rules": {
        "comma-dangle": 0,
        "strict": 0,
        "one-var": 0,
        "indent": 0,
        "id-length": [2, {"min": 2, "max": 20, "properties": "never", "exceptions": ["$", "x", "y", "e", "_"]}],
        "no-shadow": [2, {"builtinGlobals": false, "hoist": "functions", "allow": [ "_" ]}],
        "no-param-reassign": 0,
        "consistent-return": 0,
        "react/prop-types": 0
    }
}
