@import 'site-theme';
@import 'materialize/materialize';
@import 'mdi/materialdesignicons';
@import 'mixins';

@import 'animations';
@import 'awesomplete';
@import 'btn-icon';
@import 'feed-list';
@import 'hljs-solarized-light';
@import 'nav-post-search';
@import 'post-carousel';
@import 'post-description';
@import 'post-list';
@import 'post-query-list';
@import 'react-modal';
@import 'react-tagsinput';
@import 'toast';

body {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &::selection,
  *::selection {
    text-shadow: none;
  }

  &.light {
    background-color: $background-light-color;
    color: $content-dark-color;

    &::selection,
    *::selection {
      background-color: $content-dark-emphasized-color;
      color: $background-light-color;
    }
  }

  &.dark {
    background-color: $background-dark-color;
    color: $content-light-color;

    &::selection,
    *::selection {
      background-color: $background-light-color;
      color: $background-dark-highlight-color;
    }
  }
}

/* TODO move to animations */
@keyframes typing {
  from { width: 0 }
}

@keyframes caret {
  50% { border-right-color: transparent; }
}

/* TODO move to login.scss */
.login-page {
  .app-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    width: 100%;
  }

  .intro {
    animation: typing 6s steps(35), caret 1s steps(1) infinite;
    border-right: .05em solid;
    font: bold 200% Consolas, Monaco, monospace;
    overflow: hidden;
    white-space: nowrap;
    width: 35ch;
  }

  .login-button {
    font-size: 48px;
    color: inherit;

    &:hover {
      color: $accent-blue-color;
    }

    &:active {
      color: $accent-red-color;
    }
  }
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
}

.dropdown-button {
  outline: none;
}

.search-form {
  float: left;
  width: calc(100% - 150px);
}

.app-main {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.center-align-block {
  margin: 0 auto;
}

.collapsible-header {
  line-height: 24px;
  user-select: none;
}

.modal {
  display: block;
}