@import 'vendor/materialize';
@import 'vendor/style';
@import 'site-theme';
@import 'font';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20em;
}

.toast {
  &.error {
    background-color: $error-color;
  }

  &.success {
    background-color: $success-color;
  }

  &.warning {
    background-color: $warning-color;
  }
}

.app-container {
  flex: 1 0 auto;
}

.center-align-block {
  margin: 0 auto;
}

.collapsible-header {
  line-height: 24px;
  user-select: none;
}

.fade-in-appear {
  opacity: 0.01;
  transition: opacity 300ms;

  &.fade-in-appear-active {
    opacity: 1;
  }
}

.slide-in-enter,
.slide-in-leave {
  transform-origin: top;
}

.slide-in-enter {
  max-height: 0px;
  transform: scaleY(0);
  transition: max-height 500ms, transform 200ms;
  
  &.slide-in-enter-active {
    max-height: 300px;
    transform: scaleY(1);
  }
}

.slide-in-leave {
  max-height: 200px;
  transform: scaleY(1);
  transition: max-height 300ms, transform 1000ms;
  
  &.slide-in-leave-active {
    max-height: 0px;
    transform: scaleY(0);
  }
}

#toast-container {
  pointer-events: none;
}

.btn-icon {
  padding: 0;
  height: auto;

  i {
    margin: 0;
  }

  &:hover {
    color: $secondary-color;
  }

  &.error:hover {
    color: $error-color;
  }
}

.feed-list {
  .collapsible-body {
    display: block;
    overflow: hidden;
  }

  .feed-item {
    position: relative;

    .badge {
      position: relative;
      padding: 2px 6px;
      min-width: 10px;

      &:not(.new) {
        display: inline-block;
        min-width: 50px;
      }
    }

    .title-info,
    .post-count {
      display: inline-block;
      clear: both;
    }

    .title,
    .author {
      padding: 10px 0;
    }

    .title {
      text-transform: capitalize;
    }

    .title-info {
      width: 78%;
    }

    .post-count {
      float: right;
      padding: 5px 0;
      text-align: right;
      width: 20%;
    }
  }
}