@import 'variables';
@import 'site-theme';
@import 'materialize/materialize';
@import 'mdi/materialdesignicons';
@import 'mixins';
@import 'animations';

@import 'icon-button';

@import 'global';
@import 'login-page';
@import 'home-page';

@import 'awesomplete';
@import 'hljs-solarized-light';
@import 'react-modal';
@import 'react-tagsinput';
@import 'toast';
@import 'collapsible-panel';
@import 'nav-header';
@import 'forms';
@import 'post-list';

@import 'post-query-list';
@import 'post-query-item';

@import 'feed-list';
@import 'feed-list-header';
@import 'feed-item';
@import 'feed-group';

/* obsolete */
@import 'btn-icon';
@import 'nav-post-search';
@import 'post-description';
@import 'post-carousel';
@import 'feed-list-old';
@import 'post-list-old';
@import 'post-query-list-old';

.app-mount,
.app-main {
  height: 100vh;
  width: 100%;
}

.app-main {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* overrides */
.dropdown-button {
  outline: none;
}

.container {
  flex: 1;
}

.center-align-block {
  margin: 0 auto;
}

.search-form {
  float: left;
  width: calc(100% - 150px);
}
.collapsible-header {
  line-height: 24px;
  user-select: none;
}

.modal {
  display: block;
}