[hidden] { display: none; }

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

div.awesomplete {
  display: inline-block;
  position: relative;
  transform: translate3d(0, 0, 0);
  z-index: 1;
}

div.awesomplete > input {
  display: block;

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

div.awesomplete > ul {
  @include popup();

  box-sizing: border-box;
  left: 0;
  list-style: none;
  margin: .2em 0 0;
  min-width: 100%;
  padding: 0;
  position: absolute;
  text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
  display: none;
}

div.awesomplete > ul {
  transition: .3s cubic-bezier(.4,.2,.5,1.4);
  transform-origin: 1.43em -.43em;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
  display: block;
  opacity: 0;
  transform: scale(0);
  transition-timing-function: ease;
}

div.awesomplete > ul > li {
  $icon-size: 14px;

  align-items: center;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  padding: $awesomplete-item-padding;
  position: relative;
  white-space: nowrap;

  span {
    flex-grow: 1;
    margin-right: 1em;
  }
}

div.awesomplete > ul > li:hover {
  .dark-theme & {
    background-color: $background-dark-highlight-color;
  }

  .light-theme & {
    background-color: $background-light-highlight-color;
  }
}

div.awesomplete > ul > li[aria-selected="true"] {
  $border-radius: $popup-border-radius;

  &:first-child {
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-child {
    border-radius: 0 0 $border-radius $border-radius;
  }

  &:only-child {
    border-radius: $border-radius;
  }

  .light-theme & {
    background-color: $background-light-highlight-color;
  }

  .dark-theme & {
    background-color: $background-dark-highlight-color;
  }
}

div.awesomplete mark,
div.awesomplete li:hover mark,
div.awesomplete li[aria-selected="true"] mark {
  background-color: inherit;
  color: $accent-blue-color;
  font-weight: $font-weight-bold;
}
