.carousel-item {
  $content-padding-top: 15px;
  $content-padding-bottom: 75px;

  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 100%;
  padding: 0 1.1%;
  position: relative;
  width: 30%;

  &:not(.active) {
    .read-progress {
      opacity: 0;
    }
  }

  .read-progress {
    $progress-transition: width $delay-medium linear;

    appearance: none;
    border: none;
    color: $accent-blue-color;
    height: 1px;
    width: 100%;
    transition: $progress-transition;

    &::-webkit-progress-value {
      background-color: $accent-blue-color;
      transition: $progress-transition;
    }

    &::-moz-progress-bar {
      background-color: $accent-blue-color;
    }
  }

  .post-description {
    height: calc(100% - #{$content-padding-top + $content-padding-bottom});
    padding: $content-padding-top 0 $content-padding-bottom 0;

    iframe {
      height: calc(100% - 100px);
    }
  }

  .header {
    @include header-item();

    font-size: $font-size-normal;

    .title {
      @include item-title(
        $font-weight: $font-weight-bold,
        $font-family: $font-family-headers,
        $font-size: $font-size-xlarge
      );

      text-align: center;
    }

    .date {
      @include item-date();

      min-width: $feed-info-width;
      width: $feed-info-width;
    }

    .actions {
      @include item-actions();
    }

    .feed-info {
      @include feed-info-item();
    }
  }

  .content {
    animation: fade-in $delay-short;
    flex: 1;
    height: 100%;
    opacity: 1;
    width: 100%;
  }

  .sidepanel {
    $side-position: 15px;

    @mixin theme($color-bg) {
      .icon-button {
        background-color: $color-bg;
      }
    }

    @include flex($flex-direction: column);
    @include absolute(null, null, 10px, null);

    margin: auto;
    max-height: $sidepanel-height;
    opacity: 1;
    transition: opacity $delay-short linear;
    width: $sidepanel-width;

    .dark-theme & {
      @include theme($background-dark-highlight-color);
    }

    .light-theme & {
      @include theme($background-light-highlight-color);
    }

    &:hover {
      opacity: 1;
    }

    &.left {
      left: $side-position;
    }

    &.right {
      right: $side-position;
    }

    .icon-button {
      box-sizing: border-box;
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}