$sidepanel-width: 100px;
$sidepanel-height: 400px;

.carousel {
  @mixin theme($color-bg) {
    .read-progress {
      background-color: $color-bg;

      &::-webkit-progress-bar {
        background-color: $color-bg;
      }
    }
  }

  font-size: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 313%;

  &.animate {
    transition: transform $delay-short;

    .sidepanel .icon-button {
      display: none;
    }
  }

  .light-theme & {
    @include theme($background-light-highlight-color);
  }

  .dark-theme & {
    @include theme($background-dark-highlight-color);
  }
}