$sidepanel-width: 100px;
$sidepanel-height: 400px;

.carousel {
  $content-padding: 30px;

  @mixin theme($color-bg) {
    .read-progress {
      background-color: $color-bg;

      &::-webkit-progress-bar {
        background-color: $color-bg;
      }
    }
  }

  @include flex($flex-direction: column);

  height: 100%;
  position: relative;

  .light-theme & {
    @include theme($background-light-highlight-color);
  }

  .dark-theme & {
    @include theme($background-dark-highlight-color);
  }

  .read-progress {
    appearance: none;
    border: none;
    color: $accent-blue-color;
    height: 1px;
    transition: width $delay-short ease-out;
    width: 100%;

    &::-webkit-progress-value {
      background-color: $accent-blue-color;
      transition: width .2s ease-out;
    }

    &::-moz-progress-bar {
      background-color: $accent-blue-color;
    }
  }

  .post-description {
    height: calc(100% - #{$content-padding});
    padding: $content-padding 0;

    iframe {
      height: calc(100% - 100px);
    }
  }

  .header {
    @include header-item();

    .title {
      @include item-title($font-weight: $font-weight-bold, $font-family: $font-family-headers, $font-size: 1.2em);

      text-align: center;
    }

    .date {
      @include item-date();

      min-width: $feed-info-width;
      width: $feed-info-width;
    }

    .actions {
      @include item-actions();
    }

    .feed-info {
      @include feed-info-item();
    }
  }

  .content {
    animation: fade-in $delay-short;
    flex: 1;
    height: 100%;
    opacity: 1;
    width: 100%;
  }

  .sidepanel {
    $side-position: 15px;

    @mixin theme($color-bg) {
      .icon-button {
        background-color: $color-bg;
      }
    }

    @include flex($flex-direction: column);
    @include absolute(0px, 0, 0px, 0);

    opacity: 0;
    transition: opacity $delay-short linear;
    width: $sidepanel-width;
    max-height: $sidepanel-height;
    margin: auto;

    .dark-theme & {
      @include theme($background-dark-highlight-color);
    }

    .light-theme & {
      @include theme($background-light-highlight-color);
    }

    &:hover {
      opacity: 1;
    }

    &.left {
      left: $side-position;
    }

    &.right {
      right: $side-position;
    }

    .icon-button {
      box-sizing: border-box;
      cursor: pointer;
      opacity: 0.5;

      &:hover:not([disabled]) {
        border: 1px solid currentColor;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}