.collapsible-panel {
  $max-width-collapsed: 20px;
  $max-width-expanded: 60%;
  $content-padding: 4px;
  $left-drag-icon-offset: -16px;
  $right-drag-icon-offset: -16px;

  min-width: $max-width-collapsed;
  max-width: $max-width-expanded;

  transition: max-width $delay-long ease-in-out;

  .light-theme & {
    background-color: $background-light-highlight-color;
  }

  .dark-theme & {
    background-color: $background-dark-highlight-color;
  }

  .panel-content {
    @include absolute($content-padding, $content-padding, $content-padding, $content-padding);

    animation: fade-in 1s;
    opacity: 1;
    overflow-y: scroll;
    padding-bottom: 30px;
    transition: opacity $delay-long linear;

    .light-theme & {
      background-color: $background-light-color;
    }

    .dark-theme & {
      background-color: $background-dark-color;
    }
  }

  &.left {
    .drag-icon {
      right: $left-drag-icon-offset;
    }
  }

  &.right {
    .drag-icon {
      left: $right-drag-icon-offset;
    }
  }

  &.collapsed {
    max-width: $max-width-collapsed;

    .panel-content {
      opacity: 0;
    }

    .drag-icon i {
      color: $accent-red-color;
    }
  }

  &:hover {
    max-width: $max-width-expanded;

    .panel-content {
      opacity: 1;
    }

    .drag-icon {
      opacity: 1;
    }
  }

  .drag-icon {
    @include absolute(50%);

    cursor: ew-resize;
    opacity: 0;
    padding: 15px 0;
    transform: translateY(-50%);
    transition: all $delay-long ease;
    z-index: 2;

    &:hover {
      background-color: inherit;
    }

    &:active {
      background-color: inherit;
      opacity: 1;
    }
  }
}