.collapsible-panel {
  $max-width-collapsed: 35px;
  $max-width-expanded: 40%;

  min-width: $max-width-collapsed;
  max-width: $max-width-expanded;
  transition: max-width $delay-long ease-in-out;

  .panel-content {
    transition: opacity $delay-long ease;
  }

  &.left {
    .drag-icon {
      right: 0;
    }
  }

  &.right {
    .drag-icon {
      left: 0;
    }
  }

  &.collapsed {
    max-width: $max-width-collapsed;

    .panel-content {
      opacity: 0;
    }

    .drag-icon,
    .drag-icon:hover {
      color: $accent-red-color;
    }
  }

  &:hover {
    max-width: $max-width-expanded;

    .panel-content {
      opacity: 1;
    }

    .drag-icon {
      opacity: 1;
    }
  }

  .drag-icon {
    @include icon(large);
    @include absolute(50%);

    cursor: ew-resize;
    opacity: 0;
    padding: 15px 0;
    transform: translateY(-50%);
    transition: opacity $delay-long;

    &:hover {
      color: $accent-blue-color;
    }
  }
}