.collapsible-panel {
  $max-width-collapsed: 20px;
  $max-width-expanded: 60%;
  $content-padding: 4px;
  $left-drag-icon-offset: -12px;
  $right-drag-icon-offset: -12px;

  min-width: $max-width-collapsed;
  max-width: $max-width-expanded;

  transition: max-width $delay-long ease-in-out;

  .light-theme & {
    background-color: $background-light-highlight-color;
  }

  .dark-theme & {
    background-color: $background-dark-highlight-color;
  }

  .panel-content {
    @include absolute(
      $content-padding,
      $content-padding,
      $content-padding,
      $content-padding
    );

    animation: fade-in 1s;
    opacity: 1;
    padding-bottom: 30px;
    transition: opacity $delay-long linear;

    .light-theme & {
      background-color: $background-light-color;
    }

    .dark-theme & {
      background-color: $background-dark-color;
    }
  }

  &.left {
    .drag-icon {
      right: $left-drag-icon-offset;
    }
  }

  &.right {
    .drag-icon {
      left: $right-drag-icon-offset;
    }
  }

  &.collapsed {
    max-width: $max-width-collapsed;

    .panel-content {
      opacity: 0;
    }

    .drag-icon i {
      color: $accent-red-color;
    }
  }

  &:hover {
    max-width: $max-width-expanded;

    .panel-content {
      opacity: 1;
    }

    .drag-icon {
      opacity: 1;
    }
  }

  .drag-icon {
    $padding-vert: 15px;
    $padding-side: 3px;

    @include absolute(50%);

    cursor: pointer;
    opacity: 0;
    z-index: 2;

    i:after {
      @include absolute(
        -#{$padding-vert},
        -#{$padding-side},
        -#{$padding-vert},
        -#{$padding-side}
      );

      content: '';
      opacity: 0;
      transition: opacity $delay-short;
      z-index: -1;

      .light-theme & {
        background-color: $background-light-highlight-color;
      }

      .dark-theme & {
        background-color: $background-dark-highlight-color;
      }
    }

    &:active {
      i:after {
        border: 1px solid currentColor;
        box-sizing: border-box;
      }
    }

    &:hover,
    &:active {
      i:after {
        opacity: 1;
      }
    }

    &:active {
      background-color: inherit;
      opacity: 1;
    }
  }
}