.edit-feed-popup {
  min-width: 350px;

  .header {
    @include header-item(true);
    @include feed-info-item();

    border-radius: $popup-border-radius $popup-border-radius 0 0;
    width: 100%;

    .actions {
      @include item-actions(1, block, 0 0 0 5px);

      border-radius: 0 $popup-border-radius 0 0;
    }
  }

  @mixin content-theme($color) {
    .tags-input {
      border: 1em solid transparent;
    }

    .tags-input.focused {
      border: 1em solid $color;
    }

    .title-input:focus,
    .tags-input.focused {
      background-color: $color;
    }
  }

  .content {
    .title,
    .tags {
      @include flex();

      padding: 15px;
    }

    label {
      min-width: 30px;
    }

    .tags {
      padding-top: 0;
    }

    .title-input {
      height: 3em;
      padding: 0 1em;
      font-family: $font-family-headers;
      font-weight: $font-weight-bold;
      font-size: 1.1em;
    }

    .tags-input {
      transition: all $delay-short;
    }

    .title-input,
    .tags-input {
      flex: 1;
      margin-left: 15px;
      border-radius: .3em;
    }

    .light-theme & {
      @include content-theme($background-light-highlight-color);
    }

    .dark-theme & {
      @include content-theme($background-dark-highlight-color);
    }
  }
}