.feed-list {
  @mixin feed-group-theme($color) {
    .title {
      border-bottom: 1px solid $color;
    }
  }

  .feed-group {
    @include flex();

    margin-bottom: 2px;

    &:not(:first-child) {
      padding-top: 10px;
    }

    &:hover {
      color: $accent-blue-color;
    }

    .light-theme & {
      @include feed-group-theme($background-light-highlight-color);
    }

    .dark-theme & {
      @include feed-group-theme($background-dark-highlight-color);
    }

    .item-count {
      font-family: $font-family-headers;
    }

    .title {
      @include item-title($font-weight: $font-weight-bold, $font-size: 1rem, $font-family: $font-family-headers);

      cursor: pointer;
      line-height: 1.2em;
      transition: color $delay-short ease;
    }

    .item-count {
      padding: 0 15px;
      transition: opacity $delay-short ease;
    }

    &.open {
      .item-count {
        opacity: 0;
      }
    }

    &.closed + .feed-group-items {
      max-height: 0;
      overflow: hidden;
      transform: scale(0);
    }
  }

  .feed-group-items {
    max-height: 100%;
    padding: 0 15px;
    transform-origin: top left;
    transition: $delay-short linear max-height, $delay-short cubic-bezier(.25, .1, .2, 1.5) transform;
  }
}