.count-display {
  &:not(:last-child) {
    padding: 0 5px 0 0;
  }
}

.add-feed-btn {
  position: relative;
  float: left;
  top: -8px;
  left: 0;
}

.add-feed-loader {
  bottom: 0px;
  left: 15px;
  position: absolute;
}

.feed-list-header {
  .card-content {
    min-height: 61px;
  }
}

.feed-list-old {
  .post {
    $date-width: 90px;

    .post-title,
    .post-date {
      display: inline-block;
    }

    .post-title {
      width: calc(100% - #{$date-width});
    }

    .post-date {
      width: $date-width;
      text-align: right;
    }
  }

  .post-list {
    padding: 15px;

    li {
      padding: 3px 5px;
    }

    li:nth-child(odd) {
      background-color: #eee8d5;
    }
  }

  .feed-search {
    margin: 0;
  }

  .feed-item {
    $actions-width: 120px;
    $post-count-width: 115px;
    $post-count-width-small: 70px;
    position: relative;

    .collapsible-header {
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: normal;
    }

    .feed-header {
      transition: background-color 0.5s ease-in-out;
      background-color: #fdf6e3;
      color: #002b36;

      &:hover {
        background-color: #eee8d5;
      }
    }

    &.feed-added .feed-header {
      background-color: $primary-color;
    }

    .badge {
      position: relative;
      padding: 2px 6px;
      min-width: 10px;

      &:not(.new) {
        display: inline-block;
        min-width: 50px;
      }
    }

    .title-info,
    .actions,
    .post-count {
      display: inline-block;
    }

    .title {
      text-transform: capitalize;
    }

    .actions {
      width: $actions-width;

      .btn-icon {
        float: left;
      }
    }

    .title-info {
      width: calc(100% - (#{$actions-width} + #{$post-count-width} + 15px));
      padding: 8px 0;
    }

    .post-count {
      text-align: right;
      width: $post-count-width;
    }

    @media #{$small-and-down} {
      .post-count {
        width: $post-count-width-small;
      }

      .title-info {
        width: calc(100% - (#{$actions-width} + #{$post-count-width-small} + 15px));
      }
    }

    .details-loader {
      display: inline-block;
      position: absolute;
      right: 3px;
      top: 3px;
    }

    .details-header {
      display: inline-block;
      width: 100%;

      input {
        width: 250px;
      }
    }

    .details {
      padding: 10px;
      display: block;
      background-color: #fdf6e3;

      a {
        color: $primary-color;
        vertical-align: middle;
      }
    }
  }
}
