.feed-list {
  .feed-item {
    @include header-item();

    animation: fade-in $delay-medium;
    opacity: 1;

    .post-counts {
      $span-width: 30px;
      $field-width: ($span-width + 5) * 2;

      flex-shrink: 0;
      font-size: 0.8em;
      padding: 0 4px 0 0;
      text-align: right;
      width: $field-width;

      span {
        display: inline-block;
        width: $span-width;
      }

      .new {
        color: $accent-green-color;
      }

      .all {
        opacity: 0.3;
      }
    }

    .actions {
      @include item-actions();
    }

    .avatar {
      @include text-avatar();
    }

    .title {
      @include item-title();
      transition: all $delay-medium ease;
    }

    &.highlight {
      .title {
        color: $accent-magenta-color;
        text-shadow: 0 0 3px currentColor;
      }
    }

    &.edit-open {
      .actions {
        opacity: 1;
      }

      .light-theme & {
        @include header-item-theme($background-light-color, $background-light-highlight-color, true);
      }

      .dark-theme & {
        @include header-item-theme($background-dark-color, $background-dark-highlight-color, true);
      }
    }
  }
}