html {
  -webkit-font-smoothing: antialiased;
  font-family: $font-family-content;
  line-height: 1.5;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;

  &::selection,
  *::selection {
    text-shadow: none;
  }

  &.light-theme {
    @include color($background-light-color, $content-dark-color);

    &::selection,
    *::selection {
      @include color($content-dark-emphasized-color, $background-light-color);
    }
  }

  &.dark-theme {
    @include color($background-dark-color, $content-light-color);

    &::selection,
    *::selection {
      @include color($background-light-color, $background-dark-highlight-color);
    }
  }
}

* {
  -webkit-overflow-scrolling: touch;
}

a:not(.icon-button) {
  background-color: transparent;
  color: $accent-yellow-color;
  outline: none;
  position: relative;

  &:hover {
    color: $accent-magenta-color;
  }
}

::-webkit-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  color: currentColor;
  opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: currentColor;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}

ul {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
}

i {
  @each $size, $size-value in $icon-sizes {
    &.#{$size} { @include icon($size); }
  }
}

blockquote {
  .light-theme & {
    border-left: 3px solid $content-dark-color;
  }

  .dark-theme & {
    border-left: 3px solid $content-light-color;
  }
}

strong {
  font-weight: $font-weight-bold;
}

.noselect {
  user-select: none;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.transparent {
  opacity: 0;
}

.no-animate {
  transition: none;
}

.no-scroll {
  overflow: hidden;
}