html {
  -webkit-font-smoothing: antialiased;
  font-family: $font-content;
  line-height: 1.5;
}

body {
  height: 100vh;

  &::selection,
  *::selection {
    text-shadow: none;
  }

  &.light-theme {
    @include color($background-light-color, $content-dark-color);

    &::selection,
    *::selection {
      @include color($content-dark-emphasized-color, $background-light-color);
    }
  }

  &.dark-theme {
    @include color($background-dark-color, $content-light-color);

    &::selection,
    *::selection {
      @include color($background-light-color, $background-dark-highlight-color);
    }
  }
}

a:not(.icon-button) {
  background-color: transparent;
  color: $accent-yellow-color;
  outline: none;
  position: relative;

  &:hover {
    color: $accent-magenta-color;
  }
}

::-webkit-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
  color: currentColor;
  opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: currentColor;
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}

ul {
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers;
}

nav {
  a {
    -webkit-font-smoothing: antialiased;
  }
}

blockquote {
  .light-theme & {
    border-left: 3px solid $content-dark-color;
  }

  .dark-theme & {
    border-left: 3px solid $content-light-color;
  }
}

.light-theme {
  &.scrolled,
  .scrolled {
    box-shadow: inset 0 2px 2px -3px #000;
  }
}

.dark-theme {
  &.scrolled,
  .scrolled {
    box-shadow: inset 0 3px 2px -3px #000;
  }
}

.noselect {
  user-select: none;
}

.hidden {
  display: block;
}

.invisible {
  visibility: hidden;
}

.transparent {
  opacity: 0;
}