.home-page {
  $header-height: 100px;
  $footer-height: 50px;

  position: relative;

  .app-container {
    height: 100%;
  }

  .app-main {
    height: 100%;
  }

  .app-header,
  .app-footer,
  .app-content,
  .app-content-left,
  .app-content-right,
  .app-content-center {
    position: relative;
  }

  .app-header {
    width: 100%;
    height: $header-height;
    transition: background-color 0.7s ease;
  }

  .app-footer {
    background: $content-dark-color;
    width: 100%;
    height: $footer-height;
  }

  .app-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: calc(100% - #{$header-height} - #{$footer-height});
    width: 100%;
  }

  .app-content-left,
  .app-content-right,
  .app-content-center {
    height: 100%;
  }

  .app-content-left {
    width: 25%;
  }

  .app-content-center {
    flex: 1;
    margin: 0 15px;
    overflow-y: scroll;
    position: relative;
}

  .app-content-right {
    width: 25%;
  }

  .animate-width {
    transition: width 0.7s;
  }

  .animate-height {
    transition: height 0.7s;
  }
}