.home-page {
  $header-height: 75px;
  $footer-height: 15px;

  position: relative;

  .app-container {
    height: 100%;
  }

  .app-main {
    height: 100%;
  }

  .app-header,
  .app-footer,
  .app-content,
  .app-content-left,
  .app-content-right,
  .app-content-center {
    position: relative;
  }

  .app-header {
    width: 100%;
    height: $header-height;
    transition: background-color 0.7s ease;
  }

  .app-footer {
    width: 100%;
    height: $footer-height;
  }

  .app-content {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: calc(100% - #{$header-height} - #{$footer-height});
    width: 100%;
  }

  .app-content-left,
  .app-content-right,
  .app-content-center {
    height: 100%;
  }

  .app-content-left {
    width: 25%;
  }

  &.light-theme {
    .app-content-center.loading-more {
      border-bottom: 2px solid $background-light-highlight-color;
    }
  }

  &.dark-theme {
    .app-content-center.loading-more {
      border-bottom: 2px solid $background-dark-highlight-color;
    }
  }

  .app-content-center {
    flex: 1;
    margin: 0 15px;
    overflow-y: scroll;
    position: relative;
}

  .app-content-loader {
    background-color: transparent;
    height: 80px;
    width: 80px;
    margin: auto;
  }

  .app-content-right {
    width: 25%;
  }

  .animate-width {
    transition: width 0.7s;
  }

  .animate-height {
    transition: height 0.7s;
  }
}