@mixin icon-button($size, $color, $scale-factor) {
  $size-value: map-get($icon-sizes, $size);

  height: $size-value;
  line-height: $size-value;
  width: $size-value;

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    i {
      color: map-get($accent-colors, $color);
    }
  }

  &:active.scale-active,
  &:hover:not([disabled]) {
    transform: scale($scale-factor);
  }

  &:hover:active:not(.scale-active) {
    transform: scale(1);
  }
}

.icon-button {
  background-color: transparent;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  margin: 0px 3px;
  text-align: center;
  transform-origin: center;
  transform: scale(1);
  transition: all $delay-short ease;

  @each $color, $color-value in $accent-colors {
    @each $size, $size-value in $icon-sizes {
      @each $scale, $scale-factor in $icon-scale-factors {
        &.#{$size}.#{$color}-fg.#{$scale}-scale {
          @include icon-button($size, $color, $scale-factor);
        }
      }
    }
  }

  &[disabled] {
    opacity: 0.7;
  }

  &:hover,
  &:hover[disabled] {
    color: currentColor;
  }

  &:after,
  &:hover:after {
    display: none;
  }
}