@mixin icon-button($size, $color, $scale-factor) {
  $expanded-size: $scale-factor * map-get($icon-sizes, $size);
  width: $expanded-size;
  line-height: $expanded-size;

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    i {
      color: map-get($accent-colors, $color);
    }
  }

  &:active.scale-active,
  &:hover:not([disabled]) {
    i {
      transform: scale($scale-factor);
    }
  }

  &:hover:active:not(.scale-active) {
    i {
      transform: scale(1);
    }
  }

  i {
    @include icon($size);
  }
}

.icon-button {
  background-color: transparent;
  color: currentColor;
  display: inline-block;
  text-align: center;

  @each $color, $color-value in $accent-colors {
    @each $size, $size-value in $icon-sizes {
      @each $scale, $scale-factor in $icon-scale-factors {
        &.#{$size}.#{$color}-fg.#{$scale}-scale {
          @include icon-button($size, $color, $scale-factor);
        }
      }
    }
  }

  i {
    text-align: center;
    transform-origin: center;
    transform: scale(1);
    transition: all $delay-short ease;
    vertical-align: middle;
  }

  &[disabled] {
    opacity: 0.7;
  }

  &:hover,
  &:hover[disabled] {
    color: currentColor;
  }

  &:after,
  &:hover:after {
    display: none;
  }
}