@mixin item-actions($opacity: 0, $position: absolute, $padding: 0 5px 0 20px) {
  @include flex(center, space-around);

  background: none;
  bottom: 0px;
  flex: 0;
  opacity: $opacity;
  padding: $padding;
  position: $position;
  right: 0px;
  top: 0px;
  transition: all $item-transition;
}

@mixin header-item($highlight-background: false) {
  @include flex();

  cursor: pointer;
  height: $header-item-height;
  line-height: 2em;
  padding: 0 5px;
  position: relative;
  transition: background-color $item-transition;
  width: 100%;

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  @mixin highlight($color) {
    > .text,
    > .title {
      color: $color;
    }
  }

  &.highlight,
  &.highlight-magenta {
    @include highlight($accent-magenta-color);
  }

  &.highlight-blue {
    @include highlight($accent-blue-color);
  }

  .light-theme & {
    @include header-item-theme(
      $background-light-color,
      $background-light-highlight-color,
      $highlight-background);
  }

  .dark-theme & {
    @include header-item-theme(
      $background-dark-color,
      $background-dark-highlight-color,
      $highlight-background);
  }
}

@mixin header-item-theme($background-color, $background-color-highlight, $highlight-persist) {
  $actions-background: linear-gradient(
                           to right,
                           transparent 0%,
                           $background-color-highlight 10%);

  &:hover {
    .actions {
      background: $actions-background;
    }

    .avatar {
      background-color: $background-color;
    }
  }

  &:hover,
  .avatar {
    background-color: $background-color-highlight;
  }

  @if $highlight-persist {
    .actions {
      background: $actions-background;
    }

    .avatar {
      background-color: $background-color;
    }

    background-color: $background-color-highlight;
  }
}

@mixin text-avatar {
  $avatar-size: 24px;

  @include flex();

  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: $font-weight-normal;
  height: $avatar-size;
  margin: 0 5px 0 1px;
  min-width: $avatar-size;
  text-transform: uppercase;
  width: $avatar-size;
}

@mixin item-title($font-weight: $font-weight-normal, $font-size: .9rem, $text-transform: capitalize, $font-style: normal, $font-family: $font-family-content) {
  @include ellipsis();

  flex: 1;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  text-transform: $text-transform;
}

@mixin item-date() {
  @include ellipsis();

  min-width: 85px;
  text-align: right;
  font-weight: $font-weight-thin;
  font-size: 0.9rem;
  padding: 0 5px;
}

@mixin feed-info-item() {
  @include flex();

  min-width: $feed-info-width;
  padding-right: 5px;
  width: $feed-info-width;

  .avatar {
    @include text-avatar();
  }

  .title {
    @include item-title();

    text-align: left;
  }
}