@mixin item-actions($opacity: 0) {
  @include flex(center, space-around);
  @include absolute(0px, 0px, 0px, 0);

  /* background-color: transparent; */
  background: none;
  opacity: $opacity;
  padding: 0 5px 0 20px;
  /* transition: opacity $item-transition, background $item-transition; */
  transition: all $item-transition;
}

@mixin header-item($highlight-background: false) {
  @include flex();

  cursor: pointer;
  height: $header-item-height;
  line-height: 2em;
  padding: 0 5px;
  position: relative;
  transition: background-color $item-transition;
  width: 100%;

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .light-theme & {
    @include header-item-theme($background-light-highlight-color, $highlight-background);
  }

  .dark-theme & {
    @include header-item-theme($background-dark-highlight-color, $highlight-background);
  }
}

@mixin header-item-theme($color, $highlight-background) {
  $actions-background: linear-gradient(left, transparent 0%, $color 10%);

  &:hover .actions {
    background: $actions-background;
  }

  &:hover,
  .avatar {
    background-color: $color;
  }

  @if $highlight-background {
    .actions {
      background: $actions-background;
    }

    background-color: $color;
  }
}

@mixin text-avatar {
  $avatar-size: 24px;

  @include flex();

  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  height: $avatar-size;
  margin: 0 5px 0 1px;
  min-width: $avatar-size;
  text-transform: uppercase;
  width: $avatar-size;
}

@mixin item-title($font-weight: 300, $font-size: .9rem, $text-transform: capitalize, $font-style: normal, $font-family: $font-content) {
  @include ellipsis();

  flex: 1;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  text-transform: $text-transform;
}

@mixin item-date() {
  @include ellipsis();

  min-width: 85px;
  text-align: right;
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0 5px;
}

@mixin feed-info-item() {
  @include flex();

  min-width: $feed-info-width;
  padding-right: 5px;
  width: $feed-info-width;

  .avatar {
    @include text-avatar();
  }

  .title {
    @include item-title();

    text-align: left;
  }
}