@mixin color($background, $foreground: currentColor) {
  background-color: $background;
  color: $foreground;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex($align-items: center, $justify-content: center, $flex-direction: row) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin position($position, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: $position;
  @if ($top != 0) { top: $top; }
  @if ($right != 0) { right: $right; }
  @if ($bottom != 0) { bottom: $bottom; }
  @if ($left != 0) { left: $left; }
}

@mixin absolute($args...) { @include position(absolute, $args...); }
@mixin relative($args...) { @include position(relative, $args...); }
@mixin fixed($args...) { @include position(fixed, $args...); }

@mixin icon($size) {
  font-size: map-get($icon-sizes, $size);
}

@mixin item-text-avatar {
  $avatar-size: 24px;

  @include flex();

  border-radius: 50%;
  font-size: 0.8em;
  font-weight: 400;
  height: $avatar-size;
  margin: 0 5px 0 1px;
  min-width: $avatar-size;
  text-transform: uppercase;
  width: $avatar-size;
}