@mixin color($background, $foreground: currentColor) {
  background-color: $background;
  color: $foreground;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex($align-items: center, $justify-content: center, $flex-direction: row) {
  align-items: $align-items;
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin edge-border-radius($first, $last) {
  span:first-child { border-radius: $first; }
  span:last-child { border-radius: $last; }
}

@mixin absolute($args...) { @include position(absolute, $args...); }
@mixin relative($args...) { @include position(relative, $args...); }
@mixin fixed($args...) { @include position(fixed, $args...); }

@mixin icon($size) {
  font-size: map-get($icon-sizes, $size);
}

@mixin popup-theme($box-shadow, $color-bg) {
  box-shadow: $box-shadow;
  background-color: rgba($color-bg, .8);

  &:after {
    background-color: $color-bg;
  }
}

@mixin popup() {
  $border-shadow: 0 0 0 1px currentColor;

  border-radius: $popup-border-radius;
  border: 1px solid currentColor;
  z-index: 2;

  &:before {
    background-color: currentColor;
    border-left: inherit;
    border-top: inherit;
    border: none;
    content: "";
    height: 0;
    left: 1em;
    padding: .4em;
    position: absolute;
    top: -.43em;
    transform: rotate(45deg);
    width: 0;
    z-index: -2;
  }

  &:after {
    content: "";
    height: 1em;
    left: .7em;
    position: absolute;
    top: 0;
    width: 1.5em;
    z-index: -1;
  }

  .dark-theme & {
    @include popup-theme($popup-box-shadow-dark, $background-dark-color);
  }

  .light-theme & {
    @include popup-theme($popup-box-shadow-light, $background-light-color);
  }
}