.nav-search {
  .awesomplete {
    height: auto;
    width: 100%;

    ul {
      z-index: 2;
    }

    ul li {
      color: rgba(0, 0, 0, 0.87);
      float: none;
      line-height: 32px;
      transition: none;

      .id {
        flex-grow: 0;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        width: 350px;
      }

      .title {
        flex-grow: 0;
        text-align: left;
        text-transform: capitalize;
        width: 50px;
      }

      .name {
        text-align: left;
        text-transform: capitalize;
      }
    }
  }
}