.nav-header {
  $left-side-width: 25%;
  $right-side-width: 25%;
  $side-width-max: 400px;

  @include flex(flex-start);

  padding: 10px 0;

  i {
    @include icon(medium);
  }

  .nav-center,
  .nav-left,
  .nav-right {
    @include flex();
    padding: 0 20px;
    position: relative;
  }

  .nav-center {
    flex: 1;
    justify-content: center;
    max-height: 85%;
    overflow: scroll;
    padding: 14px 15px;
  }

  .nav-left,
  .nav-right {
    max-width: $side-width-max;
  }

  .nav-left {
    justify-content: flex-start;
    width: $left-side-width;
  }

  .nav-right {
    justify-content: flex-end;
    width: $right-side-width;
  }

  .header-text {
    font-family: $font-family-headers;
    font-size: 1.1em;
    margin: auto 0;

    &.title {
      text-transform: capitalize;
    }
  }

  .search-bar {
    @include flex();

    margin: 0;
    padding: 0;
    position: relative;
    width: 80%;

    .search-icon {
      @include icon(medium);
      @include absolute(14px, 0, 0, 0px);

      opacity: 0.5;
      pointer-events: none;
      transition: opacity $delay-long ease;
    }

    .search-input:hover + .search-icon {
      opacity: 1;
    }

    .search-input:focus + .search-icon {
      opacity: 1;
    }

    .search-input {
      border-bottom: 1px solid transparent;
      margin: 0;
      opacity: 0.5;
      padding: 0 0 0 $nav-header-input-padding;
      transition: opacity $delay-long ease, border-bottom $delay-long ease;
      width: 100%;

      &:focus,
      &:hover,
      &:focus:not([readonly]) {
        .dark-theme & {
          border-bottom: 1px solid $background-dark-highlight-color;
        }

        .light-theme & {
          border-bottom: 1px solid $background-light-highlight-color;
        }

        opacity: 1;
      }
    }
  }

  &.query-error {
    .search-bar .search-input {
      border-bottom: 1px solid $accent-red-color;

      &:focus,
      &:hover,
      &:focus:not([readonly]) {
        border-bottom: 1px solid $accent-red-color;
      }
    }
  }

  .user {
    @include flex();

    opacity: 0;
    transition: opacity $delay-long ease;

    &:hover {
      opacity: 1;
    }
  }

  .user:hover + .user-icon {
    opacity: 0;
  }

  .user-avatar {
    border-radius: 50%;
    height: auto;
    width: 48px;
  }

  .user-icon {
    @include absolute(14px, 25px);

    opacity: 0.5;
    pointer-events: none;
    transition: opacity $delay-long ease;
  }

  .user-info {
    margin: 0 10px;
  }

  @media (max-width: 480px) {
    .nav-center {
      display: none;
    }

    .nav-left,
    .nav-right {
      padding: 0 5px;
    }

    .nav-left {
      flex: 1;
    }

    .nav-right {
      width: 160px;
    }
  }
}