.nav-header {
  div.awesomplete > ul {
    left: $nav-header-input-padding / 2;
  }

  .awesomplete {
    $border-radius: $popup-border-radius;

    height: auto;
    width: 100%;

    ul {
      display: table;

      li {
        display: table-row;

        span {
          display: table-cell;
          padding: $awesomplete-item-padding;
        }

        &:first-child {
          @include edge-border-radius($border-radius 0 0 0, 0 $border-radius 0 0);
        }

        &:last-child {
          @include edge-border-radius(0 0 0 $border-radius, 0 0 $border-radius 0);
        }

        &:only-child {
          @include edge-border-radius($border-radius 0 0 $border-radius, 0 $border-radius $border-radius 0);
        }

        .id {
          @include ellipsis();

          text-align: left;
        }

        .title {
          font-size: 1em;
          text-align: left;
          text-transform: lowercase;

          &.feed-category {
            color: $accent-green-color;
          }

          &.tag-category {
            color: $accent-orange-color;
          }

          &.status-category {
            color: $accent-cyan-color;
          }
        }

        .name {
          font-size: 1.2em;
          font-family: $font-family-headers;
          text-align: left;
          text-transform: capitalize;
        }
      }
    }
  }
}