.nav-search {
  .nav-search-loader {
    position: absolute;
    top: 8px;
    left: 6px;
  }

  .input-field {
    label {
      top: 2px;
    }

    .material-icons {
      display: inline-block;

      &.search {
        padding-left: 1rem;
      }

      &.close {
        color: transparent;
        position: absolute;
        top: 0;
        right: 1rem;
      }
    }

    &.active .material-icons {
      color: #444;
    }
  }

  .awesomplete {
    height: auto;
    width: 100%;

    ul {
      z-index: 2;
    }

    ul li {
      color: rgba(0, 0, 0, 0.87);
      float: none;
      line-height: 32px;
      margin: 0;
      transition: none;

      .id {
        flex-grow: 0;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        width: 350px;
      }

      .title {
        flex-grow: 0;
        font-style: italic;
        text-align: left;
        text-transform: capitalize;
        width: 50px;
      }

      .name {
        text-align: left;
        text-transform: capitalize;
      }
    }
  }
}