.post-description {
  $font-size: 1.1em;

  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  position: relative;

  .post-description-content {
    color: currentColor !important;
    font-size: $font-size !important;
    margin: 0 auto;
    max-width: 650px;
  }

  span {
    font-size: $font-size !important;
    font-family: $font-content !important;
    color: currentColor !important;
  }

  code, kbd, pre, samp {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 0.9rem;
    position: relative;
  }

  .lang-edit-mode {
    overflow: visible;

    code {
      overflow: visible;
    }
  }

  .btn-highlight {
    background: rgba(238, 232, 213, 0.9);
    border: 1px solid #fdf6e3;
    color: $secondary-color;
    display: inline-block;
    font-size: 0.8em;
    height: 1.8em;
    left: 8px;
    line-height: 0.8em;
    opacity: 0;
    padding: 6px;
    position: absolute;
    text-transform: lowercase;
    top: 5px;
    transition: opacity 0.7s;

    &:hover {
      background: #fdf6e3;
    }
  }

  .wp-video {
    max-width: 100% !important;
  }

  .container {
    width: 100%;
  }

  code:hover .btn-highlight {
    opacity: 1;
  }

  video,
  iframe {
    border: none;
    display: block;
    height: 100%;
    margin: 0 auto;
    min-height: 400px;
    padding: 0 1px;
    width: 100%;
  }

  .awesomplete {
    height: 2rem;
    position: relative;
    left: 0;
    top: 0;
    display: block;
    width: 220px;

    input {
      border: 0;
      font-size: 0.9rem;
      height: 2rem;
      padding-left: 8px;
    }

    input:focus {
      border: 0;
    }

    li .value {
      width: 105px;
    }

    li .separator {
      display: none;
    }

    li .name {
      @include ellipsis;
      text-align: left;
      text-transform: capitalize;
      width: 200px;
    }
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    color: currentColor;
  }

  a:not(.btn-icon) {
    background-color: transparent !important;
  }

  img[height="1"] {
    width: 1px;
    height: 1px;
  }

  img {
    border: none !important;
    display: block !important;
    float: none !important;
    height: auto !important;
    margin: 0 auto !important;
    max-width: 100%;
    padding: 0 0 30px 0 !important;
  }

  p {
    margin: 1.5rem 0;
  }
}