.post-description {
  $font-size: 1.1rem;

  margin: 0 auto;
  overflow: scroll;
  padding: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  transform: translate3d(0, 0, 0);

  .light-theme & {
    .hljs {
      border: 1px solid $background-light-highlight-color;
    }
  }

  .dark-theme & {
    .hljs {
      border: 1px solid $background-dark-highlight-color;
    }
  }

  .ocaml {
    li,
    div,
    span {
      color: inherit !important;
      font-family: $font-family-code !important;
    }
  }

  .post-description-content {
    color: currentColor !important;
    font-size: $font-size !important;
    margin: 0 auto;
    max-width: 650px;
  }

  span {
    /* TODO cant set these as they interfere with code highlight */
    /* font-size: $font-size !important; */
    /* font-family: $font-family-content !important; */
    /* color: currentColor !important; */
  }

  table {
    border: none !important;
    display: block;
    overflow-x: scroll;
  }

  hr {
    display: none;
  }

  code, kbd, pre, samp {
    font-family: $font-family-code;
    font-size: 1rem;
    position: relative;
  }

  code {
    display: inline-block;
    min-height: 2rem;
  }

  .lang-edit-mode {
    overflow: visible;

    code {
      overflow: visible;
    }
  }

  .wp-video {
    max-width: 100% !important;
  }

  .container {
    width: 100%;
  }

  video,
  iframe {
    border: none;
    display: block;
    height: 100%;
    margin: 0 auto;
    min-height: 400px;
    padding: 0 1px;
    width: 100%;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    color: currentColor;
  }

  img[height="1"] {
    width: 1px;
    height: 1px;
  }

  img:not(.ql-img-inline-formula) {
    border: none !important;
    display: block !important;
    float: none !important;
    height: auto !important;
    margin: 0 auto !important;
    max-width: 100%;
    padding: 0 0 30px 0 !important;
  }

  p {
    margin: 1.5rem 0;
  }
}