.post-list {
  .post-item {
    @include header-item();

    animation: fade-in $delay-medium;
    opacity: 1;

    &.highlight {
      color: $accent-magenta-color;
    }

    .actions {
      @include item-actions();
    }

    .title {
      @include item-title($font-weight: $font-weight-normal, $font-family: $font-family-headers, $font-size: 1.1em);
    }

    .date {
      @include item-date();
    }

    .feed-info {
      @include feed-info-item();
    }

    .new-icon {
      color: $accent-green-color;
      font-size: 0.6em;
    }
  }
}
