.post-query-list {
  @mixin post-query-item-theme($color) {
    &.pinned-item {
      .avatar {
        box-shadow: 0 0 0 .6px $color;
      }
    }
  }

  .post-query-item {
    @include header-item();

    .light-theme & {
      @include post-query-item-theme($content-light-emphasized-color);
    }

    .dark-theme & {
      @include post-query-item-theme($content-dark-emphasized-color);
    }

    .text,
    .title {
      @include item-title();
    }

    .text {
      text-transform: none;
    }

    .actions {
      @include item-actions();
      width: 60px;
    }

    .avatar {
      @include text-avatar();
      text-transform: lowercase;
      font-size: 0.9em;

      span {
        display: inline-block;
        padding-bottom: 2px;
      }
    }
  }
}