.post-query-list-old {
  $actions-width: 70px;

  .collection-item {
    cursor: pointer;
    position: relative;

    &.selected {
      color: $secondary-color;
    }
  }

  .edit-input {
    width: calc(100% - #{$actions-width});
    border: none;
    margin: 0;

    &:focus.valid {
      border: none;
    }
  }

  .title,
  .text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    width: calc(100% - #{$actions-width});
  }

  .title {
    text-transform: capitalize;
  }

  /* TODO centralize the style for all actions */
  .post-query-actions {
      align-items: center;
      justify-content: center;
      bottom: 0;
      display: flex;
      right: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      width: $actions-width;
      z-index: 1;
  }

}