.post-query-list {
  .post-query-item {
    @include header-item();

    .text,
    .title {
      @include item-title();
    }

    .text {
      text-transform: none;
    }

    &.pinned-item {
      .text,
      .title {
        font-weight: 400;
      }
    }

    .actions {
      @include item-actions();
      width: 60px;
    }

    .avatar {
      @include text-avatar();
      text-transform: lowercase;
      font-size: 0.9em;

      span {
        display: inline-block;
        padding-bottom: 2px;
      }
    }
  }
}