.post-list {
  .post-content,
  .post-content-fullscreen {
    padding: 30px;
    margin: 0 auto;
    position: relative;
    background: #fdf6e3;
    color: #586e75;

    *::selection,
    &::selection {
      background-color: #ff5e99;
      color: #fff;
    }

    code, kbd, pre, samp {
      font-family: monaco, Consolas, 'Lucida Console', monospace;
      font-size: 0.9rem;

    }

    .lang-edit-mode {
      overflow: visible;

      code {
        overflow: visible;
      }
    }

    .btn-icon {
      color: $secondary-color;
    }

    .btn-highlight {
      background: #fdf6e3;
      display: inline-block;
      font-size: 0.8em;
      height: 1.8em;
      left: 8px;
      line-height: 0.8em;
      opacity: 0;
      padding: 6px;
      position: absolute;
      text-transform: lowercase;
      top: 5px;
    }

    code:hover .btn-highlight {
      opacity: 1;
    }

    .awesomplete {
      height: 2rem;
      position: relative;
      left: 0;
      top: 0;
      display: block;
      width: 150px;

      input {
        padding-left: 8px;
        height: 2rem;
        border: 0;
      }

      input:focus {
        border: 0;
      }

      li .value {
        width: 105px;
      }

      li .separator {
        display: none;
      }

      /* TODO make an ellipsis mixin */
      li .name {
        width: 200px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
      }
    }

    iframe {
      border: none;
      display: block;
      height: 100%;
      margin: 0 auto;
      min-height: 400px;
      width: 100%;
    }

    .post-content-data {
      overflow: scroll;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.4rem;
    }

    h4 {
      font-size: 1.3rem;
    }

    p {
      color: #586e75;
    }

    a {
      color: $primary-color;
    }

    img[height="1"] {
      width: 1px;
      height: 1px;
    }

    img {
      display: block !important;
      height: auto;
      padding-bottom: 30px;
      margin: 0 auto;
      max-width: 100%;
      float: none !important;
    }

    p {
      margin: 1.5rem 0;
    }

    .post-content-loader {
      align-items: flex-start;
      background: #fdf6e3;
      bottom: 0;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      opacity: 0.9;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      padding: 30%;
    }
  }

  .post-content {
    .panel-left,
    .panel-right,
    .post-header {
      display: none;
    }
  }

  .post-content-fullscreen {
    display: none;
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;
    position: relative;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    &:fullscreen {
      display: block;
    }

    .post-header {
      display: block;
      color: #eee;

      .post-title {
        text-align: right;
        max-width: 80%;
      }

      .feed-title {
        max-width: none;
      }
    }

    .panel-left,
    .panel-right {
      background-color: transparent;
      bottom: 0;
      margin: auto;
      min-width: 64px;
      min-height: 128px;
      max-height: 256px;
      position: absolute;
      top: 0;
      width: 5%;

      .btn-icon {
        height: 100%;
        width: 100%;
        color: $secondary-color;

        &:hover {
          background-color: rgba(0,0,0,.1);
        }
      }
    }

    .panel-left {
      left: 0;
    }

    .panel-right {
      right: 0;
    }

    &.off-right.from-right .post-content-data {
      animation-name: slideOutLeft;
    }

    &.off-left.from-left .post-content-data {
      animation-name: slideOutRight;
    }

    &.from-right .post-content-data {
      animation-name: slideInRight;
    }

    &.from-left .post-content-data {
      animation-name: slideInLeft;
    }

    &.off-right,
    &.off-left {
      .post-content-data {
        opacity: 0;
      }
    }

    .post-content-data {
      $animation-duration: .2s;

      animation-direction: alternate;
      animation-duration: $animation-duration;
      animation-fill-mode: both;
      background-color: #fdf6e3;
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,0.2);
      left: 50%;
      height: 80%;
      width: 80%;
      opacity: 1;
      padding: 1em 2em;
      position: absolute;
      text-rendering: optimizeLegibility;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity $animation-duration ease;
    }
  }
}