.post-list {
  .post-item {
    @include header-item();

    &.highlight {
      color: $accent-magenta-color;
    }

    .actions {
      @include item-actions();
    }

    .title {
      @include item-title($font-weight: 400, $font-family: $font-headers);
    }

    .date {
      @include item-date();
    }

    .feed-info {
      @include feed-info-item();
    }

    .new-icon {
      color: $accent-green-color;
      font-size: 0.6em;
    }
  }
}
