.post-list {
  .post-content,
  .post-content-fullscreen {
    padding: 30px;
    margin: 0 auto;
    position: relative;

    a {
      color: $primary-color;
    }

    img[height="1"] {
      width: 1px;
      height: 1px;
    }

    img {
      display: block !important;
      height: auto;
      padding-bottom: 30px;
      margin: 0 auto;
      max-width: 100%;
      float: none !important;
    }

    p {
      margin: 1.5rem 0;
    }
  }

  .post-content {
    .panel-left,
    .panel-right,
    .post-header {
      display: none;
    }
  }

  .post-content-fullscreen {
    display: none;
    height: 100%;
    overflow: scroll;
    position: relative;
    width: 100%;
    position: relative;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    &:fullscreen {
      display: block;
    }

    .post-header {
      display: block;
      color: #eee;

      .post-title {
        text-align: right;
      }

      .feed-title {
        max-width: none;
      }
    }

    .panel-left,
    .panel-right {
      background-color: transparent;
      bottom: 0;
      margin: auto;
      min-width: 64px;
      min-height: 128px;
      max-height: 256px;
      position: absolute;
      top: 0;
      width: 5%;

      .btn-icon {
        height: 100%;
        width: 100%;
        color: $secondary-color;

        &:hover {
          background-color: rgba(0,0,0,.1);
        }
      }
    }

    .panel-left {
      left: 0;
    }

    .panel-right {
      right: 0;
    }

    &.off-right.from-right .post-content-data {
      animation-name: slideOutLeft;
    }

    &.off-left.from-left .post-content-data {
      animation-name: slideOutRight;
    }

    &.from-right .post-content-data {
      animation-name: slideInRight;
    }

    &.from-left .post-content-data {
      animation-name: slideInLeft;
    }

    &.off-right,
    &.off-left {
      .post-content-data {
        opacity: 0;
      }
    }

    .post-content-data {
      $animation-duration: .2s;

      animation-direction: alternate;
      animation-duration: $animation-duration;
      animation-fill-mode: both;
      background-color: rgba(225, 225, 225, 0.9);
      border-radius: 3px;
      border: 1px solid rgba(0,0,0,0.2);
      left: 50%;
      max-height: 80%;
      max-width: 80%;
      opacity: 1;
      overflow: scroll;
      padding: 1em 2em;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: opacity $animation-duration ease;
    }
  }
}