.post-description {
  $font-size: 1.1rem;

  margin: 0 auto;
  padding: 0;
  position: relative;
  transform: translate3d(0, 0, 0);

  &:not(.no-scroll) {
    overflow: auto;
  }

  @mixin theme($color) {
    .hljs {
      border: 1px solid $color;
    }

    img:not(.ql-img-inline-formula) {
      border: 1px solid $color !important;
    }
  }

  .light-theme & {
    @include theme($background-light-highlight-color);
  }

  .dark-theme & {
    @include theme($background-dark-highlight-color);
  }

  .ocaml {
    li,
    div,
    span {
      color: inherit !important;
      font-family: $font-family-code !important;
    }
  }

  .post-description-content {
    color: currentColor !important;
    font-size: $font-size !important;
    margin: 0 auto;
    max-width: 700px;
    text-rendering: optimizeLegibility;
    transform: translate3d(0, 0, 0);
  }

  span {
    /* TODO cant set these as they interfere with code highlighting */
    /* font-size: $font-size !important; */
    /* font-family: $font-family-content !important; */
    /* color: currentColor !important; */
  }

  table {
    border: none !important;
    display: block;
    overflow-x: auto;
  }

  hr {
    display: none;
  }

  code, kbd, pre, samp {
    font-family: $font-family-code;
    font-size: 1rem;
    position: relative;
  }

  code {
    display: inline-block;
    min-height: 2rem;
  }

  ol li {
    list-style-type: decimal;
  }

  .lang-edit-mode {
    overflow: visible;

    code {
      overflow: visible;
    }
  }

  .wp-video {
    max-width: 100% !important;
  }

  .container {
    width: 100%;
  }

  video,
  iframe {
    border: none;
    display: block;
    height: 100%;
    margin: 0 auto;
    min-height: 400px;
    padding: 0 1px;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    background-color: transparent !important;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  p {
    color: currentColor;
  }

  figure {
    margin: 0;
    padding: 0;
  }

  img[height="1"] {
    width: 1px;
    height: 1px;
  }

  img:not(.ql-img-inline-formula):not(.attachment-thumbnail) {
    display: block !important;
    float: none !important;
    height: auto !important;
    margin: 10px auto !important;
    max-width: 100%;
    padding: 0 !important;
  }

  p {
    margin: 1.5rem 0;
  }

  // posts specific

  .wp-caption {
    max-width: 100% !important;
  }

  .aspectRatioPlaceholder-fill {
    padding: 0 !important;
  }

  .u-ignoreBlock {
    padding: 0 !important;
  }

  .graf--li {
    margin-bottom: 14px;
  }
}