.react-tagsinput {
  padding: 5px 0;
}

.react-tagsinput-tag {
  $size: 24px;

  @extend .chip;
  @extend .z-depth-1;
  @extend .white-text;

  background-color: $secondary-color;
  border-radius: 2px;
  font-weight: normal;
  height: $size;
  line-height: $size;
  margin: 1px;
  padding: 0 3px 0 10px;

  i.material-icons {
    line-height: $size;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $size;

    &:hover {
      color: $error-color;
    }
  }
}

input.react-tagsinput-input {
  background: transparent;
  border: 0;
  height: auto;
  margin: 0;
  outline: none;
  padding: 5px;
  width: 80px;

  &:focus:not([readonly]) {
    border: 0;
    box-shadow: none;
  }
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " x";
}
