.tag-item {
  @mixin theme($color-bg, $color-fg, $color-fg-highlight) {
    background-color: $color-bg;
    color: $color-fg;

    .tag-name {
      border-right: 1px solid $color-fg;
    }

    .icon-button {
      color: $color-fg-highlight;
    }
  }

  display: inline-block;
  padding: 0 .2em 0 .5em;
  margin: .2em;
  font-family: $font-family-headers;
  font-weight: $font-weight-bold;
  font-size: 1.1rem;

  .tag-name {
    padding-right: .5em;
  }

  .icon-button {
    margin-left: .3em;
  }

  .light-theme & {
    @include theme($content-dark-color, $background-light-color, $background-light-highlight-color);
  }

  .dark-theme & {
    @include theme($content-light-color, $background-dark-color, $background-dark-highlight-color);
  }

  .content {
    @include flex();

    height: 100%;
  }
}