$delay-short: .3s;
$delay-medium: .5s;
$delay-long: .7s;

$icon-scale-factors: (
  "small": 1.5,
  "medium": 2,
  "large": 2.5
);

$icon-sizes: (
  "small": 12px,
  "medium": 24px,
  "large": 32px,
  "xlarge": 48px
);