$delay-short: .3s;
$delay-medium: .5s;
$delay-long: .7s;

$font-content: "Open Sans", sans-serif;
$font-headers: "Alegreya", serif;

$icon-scale-factors: (
  "small": 1.5,
  "medium": 2,
  "large": 2.5
);

$icon-sizes: (
  "small": 16px,
  "medium": 24px,
  "large": 32px,
  "xlarge": 48px
);

$awesomplete-border-radius: .3em;
$awesomplete-item-padding: .2em .5em;
$feed-info-width: 20%;
$header-item-height: 30px;
$item-transition: $delay-short cubic-bezier(.14, .79, .62, 1);
$nav-header-input-padding: 40px;
