$delay-xshort: .15s;
$delay-short: .3s;
$delay-medium: .5s;
$delay-long: .7s;

$font-family-content: "Open Sans", sans-serif;
$font-family-headers: "Alegreya", serif;
$font-family-code: "monaco", monospace;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-thin: 300;

$font-size-xsmall: .8rem;
$font-size-small: .9rem;
$font-size-normal: 1rem;
$font-size-large: 1.1rem;
$font-size-xlarge: 1.2rem;

$icon-scale-factors: (
  "small": 1.5,
  "medium": 2,
  "large": 2.5
);

$icon-sizes: (
  "xsmall": 16px,
  "small": 18px,
  "medium": 24px,
  "large": 32px,
  "xlarge": 48px
);

$popup-border-radius: .3em;
$popup-box-shadow: .05em .2em .6em;
$popup-box-shadow-light: $popup-box-shadow rgba(0, 0, 0, .2);
$popup-box-shadow-dark: $popup-box-shadow rgba(0, 0, 0, .8);

$awesomplete-item-padding: .2em .5em;
$feed-info-width: 20%;
$header-item-height: 30px;
$item-transition: $delay-short cubic-bezier(.14, .79, .62, 1);
$nav-header-input-padding: 40px;
